footnotes.md
*/figure/*
*/cache/*
*/.cache
*/*.html
*/*.md
*/*.RData
*/*.txt
*/*.csv
*/*.tsv
*/*.tab
*/*.bam
*/*.bai
*/*.fasta
*/*.fai
*/*.bgz
*/*.tbi
*/.DS_Store
*/.Rhistory
*_exercises
*.png
.Rproj.user
*.Rproj
exercises-knb/02-linmod/figure/*
exercises-knb/03-advinference/figure/*
exercises-knb/04-modeling/figure/*
